* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-size: 20px;
  font-family: GilamDemoBlack, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._container {
  max-width: 1460px;
  margin: 0 auto;
}

.title__text {
  font-family: GilamDemoBlack;
  font-size: 50px;
  line-height: 28px;
  text-align: left;
}

.wrapper {
  position: relative;
  width: 1920px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-position: center;
  background-color: #171717;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logotip {
  width: 357px;
  height: 79px;
  top: 37px;
  left: 230px;
  margin-bottom: 89px;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 218px;
  height: 50px;
  margin-top: 37px;
  border: 1px solid #e4b564;
  margin-left: 1026px;
}

.callback__name {
  color: #e4b564;
  width: 144px;
  height: 30px;
  margin-top: 10px;
  font-family: Ballet;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.callback__icon {
  width: 16px;
  height: 16px;
  margin-top: 17px;
  margin-left: 25px;
  margin-right: 8px;
  padding: 1px, 2px, 2px, 1px;
}

.first-block__title {
  margin-bottom: 41px;
}

.first-block__subtitle {
  font-family: GilamDemoBlack;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 41px;
  width: 1182px;
  font-size: normal;
}

.first-block {
  max-width: 1460px;
}

.first-block__text {
  font-family: GilamDemoBlack;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.first-block__sections {
  display: grid;
  grid-template-rows: repeat(2, minmax(468px, auto));
  grid-template-areas: "item1 item1 item2 item2 item3 item3" "item4 item4 item4 item5 item5 item5";
  row-gap: 27px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.item-text__two {
  width: 380px;
}

.first-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-block__sections .item_one {
  grid-area: item1;
  background-color: #634f2c;
}

.first-block__sections .item_two {
  grid-area: item2;
  background-color: #b4a385;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-block__sections .item_three {
  grid-area: item3;
  background-color: #e4b564;
}

.first-block__sections .item_four {
  grid-area: item4;
  background-color: #635a4a;
}

.first-block__sections .item_five {
  grid-area: item5;
  background-color: #b08c4d;
}

.second-block__section {
  margin-top: 94px;
}

.second-block__title {
  margin-top: 161px;
}

.second-block__section {
  display: grid;
  grid-template-areas: "model1" "model2" "model3" "model4" "model5" "model6" "model7";
}

@media (min-width: 640px) {
  .second-block__section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, 65px);
    grid-gap: 24px;
    margin-bottom: 191px;
  }
}
.second-block__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 44px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 52px;
  font-family: GilamDemoThin;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.second-block__model--size {
  font-weight: 500;
}

.element1 {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #0e0e0e;
  font-weight: 400;
}

.element2 {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #242424;
  font-weight: 400;
}

.element3 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #1f1f1f;
}

.element4 {
  grid-row-start: 6;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #1f1f1f;
}

.element5 {
  grid-row-start: 7;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #e4b564;
  color: #000000;
  line-height: 25px;
}

.element6 {
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #0e0e0e;
}

.element7 {
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #0a0909;
}

.element__text {
  font-weight: 700;
  font-family: GilamDemoBlack;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
}

.footer {
  width: 1920px;
  margin: 0 auto;
  background: #0e0e0e;
}

.third-block__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.third-block__button {
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  color: #e4b564;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Ballet;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.third-block__section {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  grid-auto-rows: minmax(391px, auto);
  margin-bottom: 249px;
}

.third-block__text {
  margin-top: 172px;
  margin-bottom: 72px;
}

.third-block__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brend1 {
  background-color: #634f2c;
}

.brend2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(232, 210, 171, 0.7607843137);
  text-align: center;
}

.brend2__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brend2__logo {
  width: 62px;
  height: 55px;
}

.brend2__text {
  width: 326px;
  height: 140px;
  margin-top: 16px;
  font-family: GilamDemoThin;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.brend3 {
  background-color: #e4b564;
}

.brend4 {
  background-color: #635a4a;
}

.brend5 {
  background-color: #b08c4d;
}

.brend6 {
  background-color: #634f2c;
}

@font-face {
  font-family: GilamDemoBlack;
  src: url("/fonts/Fontfabric - Gilam Black DEMO.otf");
}
@font-face {
  font-family: GilamDemoThin;
  src: url("/fonts/Fontfabric - Gilam Thin Italic DEMO.otf");
}