.first-block__title {
	margin-bottom: 41px;
}
.first-block__subtitle {
	font-family: GilamDemoBlack;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 41px;
	width: 1182px;
	font-size: normal;
}
.first-block {
	max-width: 1460px;
}
.first-block__text {
	font-family: GilamDemoBlack;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
}
.first-block__sections {
	display: grid;
	grid-template-rows: repeat(2, minmax(468px, auto));
	grid-template-areas:
		'item1 item1 item2 item2 item3 item3'
		'item4 item4 item4 item5 item5 item5';
	row-gap: 27px;
	column-gap: 30px;
	// margin-bottom: 94px;
}
.item-text__two {
	width: 380px;
}
.first-block__item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.first-block__sections .item_one {
	grid-area: item1;
	background-color: #634f2c;
}
.first-block__sections .item_two {
	grid-area: item2;
	background-color: #b4a385;
	justify-content: center;
}
.first-block__sections .item_three {
	grid-area: item3;
	background-color: #e4b564;
}
.first-block__sections .item_four {
	grid-area: item4;
	background-color: #635a4a;
}
.first-block__sections .item_five {
	grid-area: item5;
	background-color: #b08c4d;
}
