@font-face {
	font-family: GilamDemoBlack;
	src: url('/fonts/Fontfabric\ -\ Gilam\ Black\ DEMO.otf');
}
@font-face {
	font-family: GilamDemoThin;
	src: url('/fonts/Fontfabric\ -\ Gilam\ Thin\ Italic\ DEMO.otf');
}
